<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../sass/_favorite.scss" />
    <link rel="stylesheet" href="../sass/_empty.scss" />
  </head>
  <body>
    <section>
      <h2 class="test">Favorite</h2>
      <div class="test-div" data-name="ananas">Test-object</div>
    </section>

    <script src="../js/favorite.js" type="module"></script>
  </body>
</html>
